*,
*::before,
*::after {
  box-sizing: border-box; /* apply border-box to all html elements */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  background-color: #fafafa;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

h1,
h2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.125;
  margin: 0.5rem 0;
}

.person-desc {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  align-self: flex-start;
}

h3 {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 2em 0;
}
h4 {
  margin: 0;
}

footer {
  text-align: center;
  background-color: #202020;
  color: white;
  padding: 2em 0;
  font-size: 0.75rem;
}
.nav-tabs-container {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 2em;
  font-weight: 600;
  text-transform: uppercase;
}

.journal-logo-text-container {
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 0.5em;
}

.blog-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  padding: 1em 1em 0 1em;
}

a {
  text-decoration: none;
  color: black;
}

.bootcamp-article-container,
.about-container {
  padding: 2em 1em;
}

.recent-posts-container {
  margin-bottom: 3em;
}

.bootcamp-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../images/bootcamp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 1.5rem;
  width: 100%;
  color: white;
  aspect-ratio: 16 / 9;
}

.bootcamp-text {
  max-width: 37.5rem;
}

.bootcamp-article-text {
  max-width: 100%;
}

.blog-one-container,
.blog-two-container,
.blog-three-container,
.blog-four-container,
.blog-five-container,
.blog-six-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo {
  width: 2.140625rem;
}

.date {
  font-size: 0.9375rem;
  text-transform: uppercase;
  margin: 1em 0 0 0;
  align-self: flex-start;
}

.description {
  margin: 0;
}

.blog-img,
.bootcamp-img {
  height: 14.5rem;
  width: 100%;
  object-fit: cover;
}

.bootcamp-img {
  margin: 2em 0;
  aspect-ratio: 16/9;
}

.profile-img {
  width: 11.375rem;
}

.copyright {
  margin: 0;
}

.underline {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .blog-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .bootcamp-container {
    padding: 3rem 2em;
  }
  .bootcamp-text {
    max-width: 43rem;
  }

  .bootcamp-img {
    height: auto;
    max-height: 30.5rem;
  }
  .text-padding {
    padding: 0 5rem;
  }

  .person-container {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 3em;
  }
}
